html, 
body {
    font-family: 'Lato';
    height: 100%;
}

h2 {
    margin-bottom: 2rem;
    margin-top: 0;
}

h6 {
    width: 17rem;
}

.space {
    padding: 2rem;
}


.center {
    text-align: center;
}

.gray-text {
    color: #777777;
}

.silver-text {
    color: #8b8b8b;
}

.gold-text {
    color: #B28B55;
}

.black-background {
    background-color: #000000;
    color: #ffffff;
}

.black-background h6 {
    color: #B28B55;
    font-weight: 700;
}

.black-background h3 {
    color: #B28B55;
}

.background-decoration {
    background-color: #F2F2F2;
    margin: 0;
}

.background-decoration .background-text {
    opacity: 1;
}

.background-text {
    color: #ffffff;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: -1rem;
    opacity: .15;
}

iframe {
    width: 100%;
}

h3.gold {
    color: #ffffff;
    background-color: #B28B55;
    padding: 1.5rem;
    padding-left: 2rem;
    margin: 0;
}

h3.silver {
    color: #ffffff;
    background-color: #bfbfbf;
    padding: 1.5rem;
    padding-left: 2rem;
    margin: 0;
}

.partners img {
    margin: 1rem;
}

button:focus,
button:active {
    outline: none;
    box-shadow: none;
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.btn-main,
.btn-main:hover {
    color: #ffffff;
    border-radius: 0;
    background-color: #B28B55;
    border-color: #B28B55;
}


/* HERO */

.parallax {
    z-index: -1;
    position: absolute;
    background-image: url("./assets/hero.png");
    background-attachment: fixed;
    width: 100%;
    height: 50rem;
}

.hero > .content {
    padding: 4rem 2rem;
    color: #ffffff;
}

.content > .btn-main {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* SLIDES */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2.5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
    background-color: #717171;
}

.mySlides {
    display: none;
}

.mySlides h3 {
    font-weight: 600;
}

.why-agau {
    height: 600px;
}

.how-it-works {
    height: 400px;
}


/* TABLE */


.table th {
    vertical-align: middle;
}

.table td {
    font-size: 0.75rem;
}

th > label {
    width: 8.5rem;
}

/* FOOTER */

.footer a {
    color: #ffffff;
}

/* IMAGES */

.operating-model-img {
    display: none;
}

.app-image {
    display: none;
}

.app-mobile {
    display: block;
}

.ico-image {
    display: none;
}

.ico-small {
    display: block;
}

.app-mobile {
    width: 100%;
}

.links {
    justify-content: space-between;
}

.social img {
    margin-bottom: 2rem;
}

/* Medium devices */
@media (min-width: 768px) {

    iframe {
        width: auto;
    }

    .navbar {
        padding: 0 8rem;
    }

    .app-image {
        display: block;
    }

    .app-image img {
        width: 100%;
    }

    .app-mobile {
        display: none;
    }

    .why-agau {
        height: 300px;
    }
    
    .how-it-works {
        height: 220px;
    }
}

/* Large devices */
@media (min-width: 992px) {

    .sticky-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .hero > .content {
        padding: 6rem 4rem;
    }

    .hero h1 {
        font-weight: 300;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .hero > h5 {
        font-size: 2rem;
    }

    .hero > p {
        font-size: 1.5rem;
    }

    .space {
        padding: 3rem 4rem;
    }

    h6 {
        font-size: 1.25rem;
        width: 25rem;
    }

    .operating-model-img {
        display: block;
        width: 100%;
    }

    .ico {
        display: block;
        width: 100%;
    }

    .ico-small {
        display: none;
    }

    .links {
        justify-content: flex-start;
    }

    .links a {
        margin-right: 3rem;
    }

    .background-text {
        font-size: 4.5rem;
        margin-bottom: -1.5rem;
        opacity: 0.1;
    }
}

@media (min-width: 1440px) { 

    .parallax {
        background-image: url("./assets/hero-xl.png");
    }

    .operating-model-img {
        width: auto;
    }

    .ico {
        width: auto;
    }
}