html, 
body {
    font-family: 'Lato';
    height: 100%;
}

h2 {
    margin-bottom: 2rem;
    margin-top: 0;
}

h6 {
    width: 17rem;
}

.space {
    padding: 2rem;
}


.center {
    text-align: center;
}

.gray-text {
    color: #777777;
}

.silver-text {
    color: #8b8b8b;
}

.gold-text {
    color: #B28B55;
}

.gary-background {
    background-color: #C0C0C0;
}

.black-background {
    background-color: #000000;
    color: #ffffff;
}

.black-background h6 {
    color: #B28B55;
    font-weight: 700;
}

.black-background h3 {
    color: #B28B55;
}

.background-decoration {
    background-color: #F2F2F2;
    margin: 0;
}

.gary-background .background-text {
    color: #ffffff;
}

.background-decoration .background-text {
    opacity: 1;
}

.background-text {
    color: #ffffff;
    font-size: 2.5rem;
    margin: 0;
    margin-bottom: -1rem;
    opacity: 0.2;
}

iframe {
    width: 100%;
}

h3.gold {
    color: #ffffff;
    background-color: #B28B55;
    padding: 1.5rem;
    padding-left: 2rem;
    margin: 0;
}

h3.silver {
    color: #ffffff;
    background-color: #bfbfbf;
    padding: 1.5rem;
    padding-left: 2rem;
    margin: 0;
}

.partners img {
    margin: 1rem;
}

button:focus,
button:active {
    outline: none;
    box-shadow: none;
}

.btn:focus,
.btn:active {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border: none;
}

.btn-main,
.btn-main:hover {
    color: #ffffff;
    border-radius: 0;
    background-color: #B28B55;
    border-color: #B28B55;
}


/* HERO */

.hero {
    background-image: url("./assets/hero.png");
    background-position: top center;
    background-attachment: fixed;
    color: #ffffff;
    padding: 4rem 2rem;
}

.hero > .btn-main {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

/* SLIDES */

.menu {
    display: none;
}

.dots {
    display: block;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2.5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active-dot, .dot:hover {
    background-color: #717171;
}

.mySlides {
    display: none;
}

.mySlides h3 {
    font-weight: 600;
}

.why-agau {
    height: 600px;
}

.how-it-works {
    height: 400px;
}


/* TABLE */


.table th {
    vertical-align: middle;
}

.table td {
    font-size: 0.75rem;
}

th > label {
    width: 8.5rem;
}

/* FOOTER */

.footer a {
    color: #ffffff;
}

.social img {
    margin-bottom: 2rem;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
}

.form-control:focus {
    border: none;
    border-bottom: 1px solid #B28B55;
    background-color: #000000;
    outline: none;
    box-shadow: none;
    color: #ffffff;
}

/* IMAGES */

.operating-model-img {
    display: none;
}

.app-image {
    display: none;
}

.app-mobile {
    display: block;
}

.ico-image {
    display: none;
}

.ico-small {
    display: block;
    max-width: 100%;
}

.app-mobile {
    width: 100%;
}

.links {
    justify-content: space-between;
}

.what-is-agau-image {
    max-width: 100%;
}

/* TEAM */

.team-hero {
	background-color: #f8f9fa;
	color: #fff;
	padding: 4rem 8rem 0 8rem !important;
}

.team-hero__title {
	font-size: 12rem;
}

.team {
	display: flex;
	flex-direction: column;
	padding: 4rem 8rem 0 8rem !important;
}

.team-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
}

.team-row-header {
	color: rgb(215 156 46);
	font-size: 1.5em;
	margin: 2em 0 4em 5em;
}

.team-row-items {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.team-row-items__item {
	max-width: 12em;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1em;
}

.team-row-items__item-container {
	background-color: rgb(215 156 46);
	color: #fff;
	border-radius: 50%;
	min-width: 12em;
	min-height: 12em;
	text-align: center;
	line-height: 12em;
}

.team-row-items__item-container--image {
	color: #fff;
	border-radius: 50%;
	min-width: 12em;
	min-height: 12em;
	text-align: center;
	line-height: 12em;
}

.team-row-items__item-container--info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.team-row-items__item--avatar {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

.team-row-items__item-container--image > img {
	max-width: 12em;
	max-height: 12em;
	border: 5px solid rgb(215 156 46);
	border-radius: 50%;
}

.team-row-items__item--name {
	color: #000;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0;
}

.team-row-items__item--surname {
	color: #000;
	font-size: 2rem;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0;
}

.team-row-items__item--position {
	color: #000;
	text-align: center;
	margin-bottom: 0;
}

.team-row-items__item--company {
	color: gray;
	text-align: center;
	margin-bottom: 0;
}

.team-row-items__item--link {
	width: 1.5em;
	height: 1.5em;
	background-color: lightgray;
	border-radius: 50%;
	color: #fff !important;
	text-align: center;
	text-decoration: none;
	line-height: 1.4em;
	font-size: 1.5em;
	font-weight: bolder;
	margin-top: 1em;
}

.team-row-items__item--link:hover {
	text-decoration: none !important;
	transition: color 1s;
	color: rgb(215 156 46) !important;
}

.team-row-items__item--investor {
	color: #000;
	font-size: 2.5em;
	font-weight: 300;
	letter-spacing: 1px;
	text-align: center;
	margin-top: 0.5em;
}

.team-row-items__item--support {
	color: #000;
	font-size: 1em;
	text-align: center;
	margin-top: 1em;
}

.team-row__items--item-blank {
	width: 12em;
	height: 12em;
	visibility: hidden;
}

/* Medium devices */

@media (max-width: 640px) {

	.team {
		padding: 4rem 4rem 0 4rem !important;
	}

	.team-row-items {
		justify-content: center;
	}

	.team-row-items__item {
		min-width: 100%;
		flex-direction: row;
		justify-content: space-between;
	}

	.team-hero {
		padding-left: 4rem !important;
	}
}

@media (max-width: 768px) {

	.team-hero__title {
		font-size: 6em;
	}

	.team-row-header {
		margin-left: 0;
	}
}

@media (min-width: 768px) {

    iframe {
        width: auto;
    }

    .navbar {
        padding: 0 8rem;
    }

    .app-image {
        display: block;
    }

    .app-image img {
        max-width: 100%;
    }

    .app-mobile {
        display: none;
    }

    .why-agau {
        height: 400px;
    }
    
    .how-it-works {
        height: 220px;
    }
}

/* Large devices */
@media (min-width: 992px) {

    .hero {
        background-image: url("./assets/hero-1.png");
        padding: 6rem 4rem;
    }

    .hero h1 {
        font-weight: 300;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .hero > h5 {
        font-size: 2rem;
    }

    .hero > p {
        font-size: 1.5rem;
    }

    .space {
        padding: 3rem 4rem;
    }

    h6 {
        font-size: 1.25rem;
        width: 25rem;
    }

    .dots {
        display: none;
    }

    .menu > .dot {
        width: auto;
        height: auto;
        transition: none;
        border: none;
        border-radius: 0;
        cursor: default;
        margin-bottom: 1rem;
    }

    .how-it-works > .menu {
        display: inline-block;
    }

    .how-it-works > .menu > .dot {
        display: inline-block;
        background-color: #000000;
        margin-right: 0.75rem;
    }

    .how-it-works > .menu > .active-dot {
        font-size: 1.5rem;
        color: #B28B55;
    }

    .how-it-works > .mySlides > h3 {
        display: none;
    }

    .why-agau > .menu {
        display: block;
    }

    .why-agau > .menu > .dot {
        display: block;
        background-color: #ffffff;
    }

    .why-agau > .menu > .active-dot {
        font-size: 1.5rem;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid #B28B55;
    }

    .operating-model-img {
        display: block;
        max-width: 100%;
    }

    .ico-image {
        display: block;
        max-width: 100%;
        margin-left: 1rem;
    }

    .ico-small {
        display: none;
    }

    .links {
        justify-content: flex-start;
    }

    .links a {
        margin-right: 3rem;
    }

    .background-text {
        font-size: 4.5rem;
        margin-bottom: -1.5rem;
    }
}

@media (max-width: 1220px) {
	.team-row__items--item-blank {
		display: none;
	}
}

@media (min-width: 1440px) { 

    .operating-model-img {
        width: auto;
    }
}

@media (min-width: 1600px) {

    .hero {
        background-image: url("./assets/hero-xl.png");
    }

}